*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d6e4f0;
}
.container{
    margin: 10px auto;
    border: 1px solid black;
    padding: 10px;
    height: 150px;
}
.fixo{
    width: 1100px;

}
.porcentagem{
    width: 100%;
}
.vw{
    /* vw -> viewport width (largura) */
    /* vh -> viewport height (altura) */
    /* 50 vw -> 50% de viewport */
    /* Qual a diferença do viewport e da porcentagem? */
    /* R: viewport irá gerar uma pequena barra de rolagem quando houver outro conteúdo */
    /* nesse caso é preferível usar a porcentagem */
    width: 100vw; 
}