*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Calibri;
}
html{
    font-size: 16px;
}
.cabecalho, .rodape{
    text-align: center;
    height: 50px;
    background-color: #4f594a;
    color: #fff;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box{
    font-size: 1rem;
    /* mobile first -> começa em 100% */
    width: 100%;
    height: 88vh;
    text-align: center;
}
.secao__um{
    background-color: #87977f;
}
.secao__dois{
    background-color: #abc1a1;
}
@media(min-width: 800px){
    .box{
        width: 50%;
        font-size: 2rem;
    }
}
@media(min-width: 1024px){
    .box{
        width: 25%;
        font-size: 3rem;
    }
}